.projectPage {
    height: 100vh;;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    a {
      width: 400px;
      height: 400px;
      
    }
  }

  #ultomiris {
    background-image: url('./ultomiris.png');
    background-size: cover;
  }

  #agios {
    background-image: url('./myagios.png');
    background-size: cover;
  }

  #stellar {
    background-image: url('./stellarclinicaltrials.png');
    background-size: cover;
  }

  #elahere {
    background-image: url('./elaherehcp.png');
    background-size: cover;
  }

  #newsmile {
    background-image: url('./newsmilelife.png');
    background-size: cover;
  }

  #kickscrew {
    background-image: url('./kickscrew.png');
    background-size: cover;
  }

  .projectPageTitle {
    text-align: left;
  }

  .project {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .textContainer {
    display: none; /* Initially hide the textContainer */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-top: auto; /* Pushes the textContainer to the bottom */
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
   
    
    
    h2 {
      text-align: left;
      text-decoration: none;
    }

    p {
      font-size: 12px;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
    }
  }


  .project:hover .textContainer {
    display: flex; /* Show the textContainer on hover */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)); /* Gradient background */
 }

  .skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;

  }

  .skill {
    font-size: 11px;
    height: 30px;
    width: 65px;
    border-radius: 9px;
    background-image: linear-gradient( 105.3deg,  rgba(30,39,107,1) 21.8%, rgba(77,118,221,1) 100.2% );
  }